div.tCenter.form
  form(id=formData.name method="post" action= subR + formData.submitPath)
    table
      each kuset in formData.vals
        - var kText = kuset.text
        - if (kuset.date) {
        -   kText = kText + " (dd/mm/yyyy)";    
        - }
        - if (kuset.required) {
        -   var kText = kText + "*";  
        - }
        if (kuset.select)
          tr
            td
              label(for=kuset.id) #{kText}
            td
              select(id=kuset.id, name=kuset.id)
                option(value="null") ---
                each opt in kuset.selectData
                  option(value=opt.id) #{opt.text}
            td.issueText
        else
          if (kuset.multi)
            each selText, i in kuset.selText
              tr
                td
                  if (i)
                    input(type="radio" name=kuset.id value=i)
                  else
                    input(type="radio" name=kuset.id value=i checked)
                td
                  label #{selText}
          else
            tr
              if (kuset.TAC)
                td
                  input(type="checkbox" id=kuset.id value="agree")
                td.tLeft
                  label I have read and agreed to the<br />
                  a(href="#") terms and conditions
              else
                if (kuset.permanent && kuset.value)
                  td=kuset.text + ":"
                  td=kuset.value
                else
                  td
                    label #{kText}
                  td
                    if (kuset.password)
                      input(id=kuset.id name=kuset.id type="password" value=kuset.value)
                    else
                      if (kuset.textBox)
                        -var rows = kuset.rows || 2;
                        -var placeHolder = kuset.placeHolder + " (Max " + kuset.maxLen + " chars)";
                        textArea.postText.vAlign(id=kuset.id name=kuset.id rows=rows form=formData.name placeHolder=placeHolder) #{kuset.value}
                      else
                        input(id=kuset.id, name=kuset.id type="text" value=kuset.value)
              td.issueText
    input.submit(type="submit" value= formData.submitText)
    if formData.cancelPath
      button
        a.clean(href= subRoute + formData.cancelPath) Cancel
if !formData.noScripts
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript" src="/staticMax/javascripts/formValidator.js")
  script(type="text/javascript" src="/staticMax/javascripts/" + formData.scriptName + ".js")
