extends layout

block content
  div#login.main.tCenter.form
    h1 Login
    form(id="loginForm" method="post" action= subR + "/login")
      table
        each kuset in logVals
          tr
            td
              label(for=kuset.id) #{kuset.text}
            td
              if (kuset.password)
                input(id=kuset.id, name=kuset.id type="password" value=kuset.value)
              else
                input(id=kuset.id, name=kuset.id type="text" value=kuset.value)
            td.issueText
      input.button(type="submit" value="Submit")
    if badAuth
      p.issueText Authentication failure
    div.weeVertMargin
      a(href=subR + "/register") Register
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript" src="/staticMax/javascripts/formValidator.js")
  script(type="text/javascript" src="/staticMax/javascripts/login.js")
