extends layout

block content
  div#profileEdit.main
    h1 Edit Profile
    div.block
      img#profile_pic(src="/staticMax/images/Profile.PNG")
      form(action="fileupload" method="post" enctype="multipart/form-data")
        input.weeVertMargin(type="file" name="filetoupload")
        br
        input(type="submit" value="Submit")
    div.tCenter.form
      form(id="profileForm" method="post" action= subR + "/profile")
        table
          each kuset in proVals
            if (kuset.permanent)
              tr
                td=kuset.text + ":"
                td=kuset.value
          each kuset in proVals
            if (!kuset.permanent)
              tr
                td
                  label(for=kuset.id) #{kuset.text}:
                td
                  input(id=kuset.id, name=kuset.id type="text" value=kuset.value)
        input(type="submit" value="Submit")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="/staticMax/javascripts/formValidator.js")
    script(type="text/javascript" src="/staticMax/javascripts/profileEdit.js")
