extends layout

block content
  div#projectEdit.main
    h1.tCenter #{projectData.title}
    div.block
      p #{projectData.description}
    if (projectData.locked)
      div.block.tCenter
        b.lockReason #{projectData.lockReason}
    div.block
      table
        tr
          td Client:
          td #{projectData.clientName}
        tr
          td Contact:
          td
            a(href = subR + "/user?id=" + projectData.clientUser) #{projectData.clientUserName}
    include ./partials/_form.pug
