extends layout

block content
  div#register.main.tCenter.form
    h1 Registration
    p Complete the forms below and accept terms and conditions, to register into our platform:</p>
    form(id="registerForm" method="post" action= subR + "/register")
      table
        each kuset in regVals
          if (kuset.multi)
            each selText, i in kuset.selText
              tr
                td
                  if (i)
                    input(type="radio" name=kuset.id value=i)
                  else
                    input(type="radio" name=kuset.id value=i checked)
                td
                  label #{selText}
          else
            if (kuset.TAC)
              tr
                td
                  input(type="checkbox" id=kuset.id value="agree")
                td.tLeft
                  label I have read and agreed to the<br />
                  a(href="#") terms and conditions
                td.issueText
            else
              tr
                td
                  label(for=kuset.id) #{kuset.text}
                td
                  input(id=kuset.id, name=kuset.id type="text" value=kuset.value)
                td.issueText

      input(type="submit" value="Submit")
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript" src="/staticMax/javascripts/formValidator.js")
  script(type="text/javascript" src="/staticMax/javascripts/register.js")
