extends layout

block content
  div#profile.main
    div.pho_view
      div.tCenter
        img#profile_pic(src= subR + "/REST/profilePic")
        h1 #{user.firstName} #{user.lastName}
        div
          if (ownProfile)
            a.clean.fancy(href= subR + "/profile?edit=true") Edit Profile
          else
            a.clean.fancy(href="#") Private Message
        if (user.country)  
          p #{user.country} <br /> Joined in #{user.joinedDateMonthy}
        else
          p Joined in #{user.joinedDateMonthy}
    div.tab_view
      div.flex_box
        div.flex_item.two_third.left
          h1 #{user.firstName} #{user.lastName}
          div
            if (ownProfile)
              a.clean.fancy(href= subR + "/profile?edit=true") Edit Profile
            else
              a.clean.fancy(href="#") Private Message
          if (user.country)  
            p #{user.country} <br /> Joined in #{user.joinedDateMonthy}
          else
            p Joined in #{user.joinedDateMonthy}
        div.flex_item.third.tCenter
          img#profile_pic(src= subR + "/REST/profilePic")
    div.lap_view
      div.flex_box
        div.flex_item
          img#profile_pic(src= subR + "/REST/profilePic")
        div.flex_item
          h1.fullWidth #{user.firstName} #{user.lastName} <br />
          if (user.country)  
            p #{user.country} <br /> Joined in #{user.joinedDateMonthy}
          else
            p Joined in #{user.joinedDateMonthy}
        div.flex_item
          if (ownProfile)
            a.clean.fancy(href= subR + "/profile?edit=true") Edit Profile
          else
            a.clean.fancy(href="#") Private Message
    div.flex_box
      if (user.age || user.birthCountry)
        div.flex_item.third
          h2 Personal Data
          if (user.age)
            p Age: #{user.age}
          if (user.birthCountry)
            p From: #{user.birthCountry}
      div.flex_item.two_third
        h2 Languages
        each lang in ["English", "Spanish", "Portruguese"]
          div.flex_box.weeVertMargin
            div.flex_item
              p=lang
            div.flex_item.hAlignR.vAlign.slider
              img(src="/staticMax/images/SlideMid.png")
    h2 Jobs
    p He had some jobs
    h2 Studies
    p He did some studies
    h2 Reviews
