div.flex_box.vCenter.topBit
  div.flex_item
    h2 History
  div.flex_item.bonusButton
    if (reviewable || closeable)
      if (reviewable)
        a.clean.fancy(href= subR + "/review?id=" + projectId) Review Project
      if (closeable)
        button(onclick="closeProject()") Close Project
if areHistories  
  table.dataTable
    tr
      th Request Date
      th Description
      if isEngineer
        th Spent Hours
        th Total Progress
        th Status
      else
        th Status
      th.ghost
    each history, index in histories
      tr
        td #{history.tidyDate}
        td #{history.text}
        if isEngineer
          td #{history.spentHours}
          td #{history.totalProgress}%
          if history.notifiable
            if isUserActioner
              td
                button(onclick="action('approve');") Approve
                button(onclick="action('modify');") Modify
            else
              td #{history.statusText}
          else
            td #{history.statusText}
        else
          if history.notifiable
            if isUserActioner
              td
                button(onclick="action('approve');") Approve
                button(onclick="action('reject');") Reject
            else
              td #{history.statusText}
          else
            td #{history.statusText}
        td.ghost
          if (isAdmin && !history.specialType)
            button.cancel(onclick="deleteHistory('" + history.id + "');") X
if (!openAction && isEngineer && !projectClosed)
  button#nhButton.weeVertMargin(onclick="showNewHistory();") New history event
  div#newHistory.hidden
    h3.weeVertMargin.tCenter New History Event
    include ../partials/_form.pug
