table.dataTable.fullWidth
  tr
    th Responsible
    th Quality check
    th Client
    th Start Date
    th End Date
    if isEngineer
      th Spent hours
      th Expected Hours
    th Status
    th Progress
  tr
    td
      a(href = subR + "/user?id=" + projectData.responsibleUser) #{projectData.responsibleUserName}
    td
      a(href = subR + "/user?id=" + projectData.qcUser) #{projectData.qcUserName}
    td
      a(href = subR + "/user?id=" + projectData.clientUser) #{projectData.clientUserName}
    td #{projectData.startDate}
    td #{projectData.endDate}
    if isEngineer
      td #{projectData.spentHours}
      td #{projectData.expectedHours}
    td #{projectData.subStatus}
    td #{projectData.progress}%
progress(value=projectData.progress max="100")
